<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.get().getId()})}" th:object="${user}">
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="nickname">Enter Nickname: </label>
    <input type="text" th:field="*{nickname}" id="nickname">
    <br/>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.get().role}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>

<input type="submit" th:value="update">
</form>

</body>
</html>