<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:method="POST" enctype="multipart/form-data" th:action="@{/users}" th:object="${user}">
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="nickname">Enter Nickname: </label>
    <input type="text" th:field="*{nickname}" id="nickname">
    <br/>
    <label for="birthDate">BirthDate:
        <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
    </label><br>
    <label for="image">Image:
        <input id="image" type="file" name="image">
    </label><br>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <div>
        <label for="chat">Chat:
            <select id="chat" name="chatId">
                <option th:each="chat : ${chats}"
                        th:value="${chat.getId()}"
                        th:selected="${chat.getId() == user.getChatId()}"
                        th:text="${chat.getName()}">Chat
                </option>
            </select>
        </label>
    </div>
<input type="submit" th:value="create">
</form>

<div th:if="${errors}">
    <p  style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error</p>
</div>


</body>
</html>